.page.theme_dark {
  --bc-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bc-color: #000028;
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-title-color: var(--bc-color);
  --for-focus-hover: var(--accent-color);
  --hover-outline: 1px solid rgba(255, 0, 112, 0.4);
}

.theme_dark .decoration-block {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --bc-color: #000028;
    --main-title-color: #db00ff;
    --text-color: #f1b2ce;
    --text-title-color: var(--bc-color);
    --bc-image: url(../images/cover-image-dark.png);
    --for-focus-hover: var(--accent-color);
    --hover-outline: 1px solid rgba(255, 0, 112, 0.4);
  }
  .decoration-block {
    display: flex;
  }
}
