.page.theme_light {
  --bc-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --bc-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --text-color: #353430;
  --text-title-color: var(--text-color);
  --for-focus-hover: var(--text-color);
  --hover-outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light .decoration-block {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bc-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --text-color: #353430;
    --text-title-color: var(--text-color);
    --bc-image: url(../images/cover-image-light.png);
    --for-focus-hover: var(--text-color);
    --hover-outline: 1px solid rgba(50, 49, 45, 0.4);
  }
  .decoration-block {
    display: none;
  }
}
