:root {
  --accent-color: #ff0070;
  --bc-color: #000028;
  --main-title-color: #db00ff;
  --bc-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --text-title-color: var(--bc-color);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --for-focus-hover: var(--accent-color);
  --hover-outline: 10px solid rgba(255, 0, 112, 0.4);
}
